<div class="container">
  <div class="card-body py-2 px-4 mx-auto  d-flex align-items-center flex-wrap">
    <div class="align-items-center col-12">
      <h1>ご注文ありがとうございました！</h1>
    </div>
  </div>
</div>