<h1>商品一覧</h1>
<% @items.each do |item| %>
<div>
  <%= link_to public_item_path(item.id) do %>
  <%= image_tag item.image, size: "30×50" %><br>
  <%= item.name %><br>
  <%= item.price %>
  <% end %>
</div>
<% end %>