<h1>商品一覧</h1>
<% @items.each do |item| %>
<div>
  <%= link_to public_item_path(item.id) do %>
  <%= image_tag item.image.variant( resize: "200x150!" ) %><br>
  <%= item.name %><br>
  ￥<%= item.price.to_s(:delimited) %>
  <% end %>
</div>
<% end %>